*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none; }

html,
body {
  height: 100%; }

[ng-cloak] {
  opacity: 0; }

body {
  min-height: 100%;
  margin: 0;
  font: 20px sans-serif;
  background: linear-gradient(to left, dodgerblue, #345); }

.theme1 {
  background: rgba(217, 38, 38, 0.7); }

.theme2 {
  background: rgba(217, 172, 38, 0.7); }

.theme3 {
  background: rgba(128, 217, 38, 0.7); }

.theme4 {
  background: rgba(38, 217, 83, 0.7); }

.theme5 {
  background: rgba(38, 217, 217, 0.7); }

.theme6 {
  background: rgba(38, 83, 217, 0.7); }

.theme7 {
  background: rgba(128, 38, 217, 0.7); }

.theme8 {
  background: rgba(217, 38, 172, 0.7); }

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

.app-ready {
  opacity: 1; }

.app {
  display: block;
  opacity: 0;
  transition: opacity 1.5s;
  color: white; }
  .app.app-ready {
    opacity: 1; }
  .app__hud {
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1em; }
    .app__hud__game-info, .app__hud__game-completed {
      display: inline-block;
      margin-right: 1em; }
    .app__hud__game-status {
      display: inline-block;
      font-size: 70%;
      margin-right: 1em; }
    .app__hud__btn-restart {
      font-size: 70%; }
  .app__cards-container {
    margin: 5px auto 0;
    max-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap; }
    @media (min-width: 600px) {
      .app__cards-container {
        max-width: 600px; } }
    .app__cards-container__card {
      display: inline-block;
      user-select: none;
      margin: 5px;
      overflow: hidden;
      -webkit-tap-highlight-color: transparent;
      animation: intro-in 1s;
      width: 60px;
      height: 60px; }
      @media (min-width: 600px) {
        .app__cards-container__card {
          width: 120px;
          height: 120px; } }
      .app__cards-container__card:nth-child(1) .front > span {
        animation-delay: 0.66667s; }
      .app__cards-container__card:nth-child(2) .front > span {
        animation-delay: 1.33333s; }
      .app__cards-container__card:nth-child(3) .front > span {
        animation-delay: 2s; }
      .app__cards-container__card:nth-child(4) .front > span {
        animation-delay: 2.66667s; }
      .app__cards-container__card:nth-child(5) .front > span {
        animation-delay: 3.33333s; }
      .app__cards-container__card:nth-child(6) .front > span {
        animation-delay: 4s; }
      .app__cards-container__card:nth-child(7) .front > span {
        animation-delay: 4.66667s; }
      .app__cards-container__card:nth-child(8) .front > span {
        animation-delay: 5.33333s; }
      .app__cards-container__card:nth-child(9) .front > span {
        animation-delay: 6s; }
      .app__cards-container__card:nth-child(10) .front > span {
        animation-delay: 6.66667s; }
      .app__cards-container__card:nth-child(11) .front > span {
        animation-delay: 7.33333s; }
      .app__cards-container__card:nth-child(12) .front > span {
        animation-delay: 8s; }
      .app__cards-container__card:nth-child(13) .front > span {
        animation-delay: 8.66667s; }
      .app__cards-container__card:nth-child(14) .front > span {
        animation-delay: 9.33333s; }
      .app__cards-container__card:nth-child(15) .front > span {
        animation-delay: 10s; }
      .app__cards-container__card:nth-child(16) .front > span {
        animation-delay: 10.66667s; }
      .app__cards-container__card.ng-leave {
        opacity: 1;
        transform: scale(1, 1);
        transition: 2s ease-in-out; }
      .app__cards-container__card.ng-leave.ng-leave-active {
        opacity: .1;
        width: 0;
        margin: 0;
        transform: scale(0, 0); }
      .app__cards-container__card__front {
        text-align: center;
        line-height: 60px;
        background: rgba(255, 255, 255, 0.1);
        cursor: pointer; }
        @media (min-width: 600px) {
          .app__cards-container__card__front {
            line-height: 120px; } }
        .app__cards-container__card__front > span {
          display: block;
          font-weight: 700;
          animation: front-cover 5s ease-in-out alternate infinite; }
        .app__cards-container__card__front:hover {
          background: rgba(255, 255, 255, 0.3); }
      .app__cards-container__card__back {
        transition: opacity 1s;
        text-align: center;
        line-height: 60px;
        visibility: hidden;
        font-size: 40px; }
        @media (min-width: 600px) {
          .app__cards-container__card__back {
            line-height: 120px; } }
        @media (min-width: 600px) {
          .app__cards-container__card__back {
            font-size: 80px; } }
        .app__cards-container__card__back.app-ready {
          visibility: visible; }
        .app__cards-container__card__back > span {
          display: block;
          animation: back-cover 2s ease-in-out alternate infinite; }

@keyframes back-cover {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.2); } }

@keyframes front-cover {
  0% {
    color: white; }
  100% {
    color: lightblue; } }

.ng-enter-stagger {
  transition-delay: 0.1s;
  transition-duration: 0s; }

.ng-leave-stagger {
  transition-delay: 0.1s;
  transition-duration: 0s; }

@keyframes intro-in {
  0% {
    opacity: .5; }
  100% {
    opacity: 1; } }
